@media only screen and (max-width: 1260px) {
    body {
        font-size: 20px;
    }
    .main section .container {
        margin: 0 auto;
        padding: 3.6rem 0;
        max-width: 80%;
    }
    .main #first {
        background-position: center;
    }
    .main #first .container h1 {
        font-size: 3.5rem;
        line-height: 9.4rem;
        font-weight: bolder;
    }
    .main #fourth .container .card {
        flex-direction: column;
    }
    .main #fourth .container .card .text-container h3,
    .main #fourth .container .card .text-container h4 {
        text-align: center;
    }
    .main #fourth .container .card figure {
        margin: 0 auto;
        background-color: #fafafa;
        border: none;
    }
    .main #fourth .container .card figure img {
        position: initial;
    }
    .main #fourth .container .card:nth-child(2n) p {
        margin-bottom: 1.8rem;
    }
    footer .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        flex: 1;
        margin: 0 auto;
        min-width: 100%;
    }
    footer .infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
    }
    footer .infos ul {
        padding: 2.4rem 0;
    }
    footer .infos ul li button {
        margin: 1.8rem auto;
    }
    footer .dev {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .main {
        font-size: 18px;
    }
    header nav ul {
        padding: 0.8rem 0;
    }
    header nav ul a {
        display: none;
    }
    .main #first .container h1 {
        font-size: 2.2rem;
        line-height: 9.4rem;
        font-weight: bolder;
    }
    .main #fourth .container .card .text-container {
        padding: 0;
        margin: 0 auto;
    }
    footer .container .infos {
        flex-direction: column;
        max-width: 200px;
    }
    footer .container .infos p {
        max-width: 200px;
    }
}