body {
    font-size: 24px;
    font-family: 'Darker Grotesque', sans-serif;
    --blue-main-color: #85cdf4;
    --blue-secondary-color: #2c567f;
    --grayscale-main-color: #333333;
    --white-color: #fafafa;
    --yellow-color: #deb959;
    --lighter-gray: #7e7e7e;
}

a {
    text-decoration: none;
    color: inherit;
}