.main {
    background-color: var(--white-color);
}

body header {
    display: flex;
    justify-content: center;
    padding: 0.1rem 0;
    background-color: var(--blue-main-color);
}

body header nav {
    width: 100%;
}

body header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
}

body header nav ul a {
    font-size: 1.4rem;
    font-weight: bold;
}

body header nav ul a {
    transition: color 400ms;
}

body header nav ul a:hover {
    color: #000000aa;
}

body header nav ul a:hover::after {
    content: " ";
    background-color: black;
    width: 3.8rem;
    height: 0.2rem;
    display: block;
    margin: 0.2rem auto;
}

body header nav ul img {
    max-width: 4.6rem;
}

body section {
    text-align: justify;
}

body section h2 {
    color: var(--yellow-color);
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1.8rem;
    text-align: center;
}

body section p,
h3 {
    color: var(--white-color);
}

body section .container {
    padding: 3.6rem 11.8rem;
}

body section#first {
    background-image: linear-gradient(90deg, #00000044, #00000044), url("../assets/image\ \(3\).png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: var(--white-color);
    background-repeat: no-repeat;
}

body section#first .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body section#first .container h1 {
    font-size: 5.4rem;
    font-weight: bolder;
    text-align: center;
    line-height: 11.5rem;
}

body section#first .container h1::after {
    display: block;
    content: " ";
    background-color: var(--white-color);
    width: 5.8rem;
    height: 0.4rem;
    margin: 0 auto;
}

body section#first .container p {
    margin: 1.2rem 0 4.3rem;
    max-width: 540px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
}

body section#second {
    background-color: var(--blue-secondary-color);
}

body section#third {
    background-color: var(--grayscale-main-color);
}

body section#third ul {
    margin-top: 3.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

body section#third ul li {
    margin: 0 auto;
    max-width: 200px;
    transition: 400ms;
    margin-bottom: 2.4rem;
}

body section#third ul li:hover {
    transform: scale(1.05);
}

body section#third ul li h3 {
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    line-height: 5.4rem;
}

body section#third ul li div {
    background-color: var(--white-color);
    padding: 2.2rem;
    border-radius: 50%;
    max-width: 100%;
}

body section#third ul li p {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

body section#fourth {
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body section#fourth .container {
    padding: 0;
    width: 75%;
}

body section#fourth h2 {
    margin-top: 2.4rem;
}

body section#fourth .container .card {
    display: flex;
    flex-wrap: wrap;
    margin: 2.4rem auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

body section#fourth .container .card figure {
    width: 100%;
    max-width: 420px;
    min-height: 250px;
    height: auto;
    background-color: var(--blue-secondary-color);
    position: relative;
    border: var(--grayscale-main-color) solid 5px;
}

body section#fourth .container .card img {
    max-width: 420px;
    max-height: 280px;
    width: 100%;
    position: absolute;
    top: 1.8rem;
    left: 1.8rem;
}

body section#fourth .container .card:nth-child(2n) {
    text-align: right;
}

body section#fourth .container .card:nth-child(2n) p {
    text-align: justify;
}

body section#fourth .container .card:nth-child(2n) figure img {
    left: -1.8rem;
}

body section#fourth .container .card .text-container {
    max-width: 480px;
}

body section#fourth .container .card .text-container h3,
body section#fourth .container .card .text-container h4,
body section#fourth .container .card .text-container p {
    color: black;
}

body section#fourth .container .card .text-container h3 {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3.4rem;
}

body section#fourth .container .card .text-container h4 {
    font-weight: lighter;
    margin-bottom: 1.8rem;
}

body section#fourth .container .card .text-container p {
    font-weight: 400;
    font-size: 1.4rem;
}

body footer {
    background-color: var(--grayscale-main-color);
    width: 100%;
}

body footer div.gradiente {
    min-height: 0.4rem;
    width: 100%;
    background-image: linear-gradient( 90deg, var(--yellow-color), var(--blue-secondary-color));
    margin-bottom: 3.2rem;
}

body footer div.container {
    color: var(--white-color);
    margin: 1.4rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
}

body footer div.container .infos {
    display: flex;
}

body footer div.container .infos #mapa {
    max-width: 270px;
    max-height: 195px;
}

body footer div.container .infos ul {
    max-width: 80%;
    margin: 0 2.4rem;
}

body footer div.container .infos ul li {
    display: flex;
    padding-bottom: 1.2rem;
}

body footer div.container .infos ul li img {
    max-width: 1.8rem;
    margin-right: 1.2rem;
}

body footer div.container .infos ul li p {
    font-weight: lighter;
}

body footer div.container .infos ul li button {
    background-color: var(--yellow-color);
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--grayscale-main-color);
    border: none;
    padding: 0.4rem;
    border-radius: 4px;
    transition: 400ms;
}

body footer div.container .infos ul li button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

body footer div.container .dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    text-align: center;
    min-width: 180px;
    min-height: 140px;
}